*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root{
    --mainGreen:#80cfa9;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background:rgb(238, 217, 217);
}


.container{
    margin:auto;
    width:70%;
    text-align: center;
}

.todo-title{
    margin:50px;
    text-transform: capitalize;
    font-weight: 700;
}

form{
    display: flex;
    justify-content: center;
}

input[type=text]{
    width:500px;
    height:40px;
    margin:0 0 50px 0;
    border-radius:5px 0px 0px 5px;
    border-left: 1px;
    border-right:0px;
    border-top:1px;
    border-bottom: 1px;
    border-color:var(--mainGreen);
    border-style: solid;
    padding:5px 5px 5px 15px;
    font-size:16px;
}

button{
    height:40px;
    padding:0 20px 0 20px;
    font-size:16px;
    text-transform: capitalize;
    font-weight: 500;
}

.send{
    border-radius:0px 5px 5px 0px;
    border:1px var(--mainGreen) solid;
}

.clear{
    border-radius:5px;
    border:1px var(--mainGreen) solid;
    margin-top:100px;
}

.icons{
    display: none;
    justify-content:space-between;
}

.icons img{
    width:20px;
    height:20px;
    margin:5px;
}

.green-c{
    color:rgb(84, 233, 84);
    fill:rgb(84, 233, 84);
}

.gray-e{
    color:rgb(119, 113, 113);
}

.red-e{
    color:rgb(211, 52, 52);
}